.winningDecks-container {
    
}

.winningDecks-title-container {
    display: flex;
    height: fit-content;
    width: 80%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

.winningDecks-title {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    font-family: 'Carter One', serif;
    letter-spacing: 4px;
}

.winningDecks-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}