/* Small Mobile Devices */
@media only screen and (max-width: 480px) {
    .home-container {
        width: 100%;
        
    }
    
    .home-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 80%;
        margin: 0px auto;
    }
    
    .home-title-left {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-title-right {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-info-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 200px;       
    }
}

/* Larger Mobile Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .home-container {
        width: 100%;
    }
    
    .home-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 80%;
        margin: 50px auto;
        
    }
    
    .home-title-left {
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-title-right {
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-info-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 200px;
    }
}


/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .home-container {
    
    }
    
    .home-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 80%;
        margin: 100px auto;
    }
    
    .home-title-left {
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center; 
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-title-right {
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-info-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 250px;
    }
}


/* Small Desktops/Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .home-container {
    
    }
    
    .home-title-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        width: 80%;
        margin: 50px auto;
    }
    
    .home-title-left {
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center; 
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-title-right {
        font-size: 3rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-info-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 300px;
    }
}

/* Large Desktops */
@media only screen and (min-width: 1201px) {
    .home-container {
    
    }
    
    .home-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        width: 80%;
        margin: 0px auto;
    }
    
    .home-title-left {
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center; 
        margin-left: 170px;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-title-right {
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        text-align: center;
        margin-right: 20px;
        font-family: 'Carter One', serif;
        letter-spacing: 4px;
    }
    
    .home-info-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 150px;
    }
}
