/* Small Mobile Devices */
@media only screen and (max-width: 480px) {
    .layout-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-size: 1800px 1000px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(13, 45, 67);
    }
    
    .header {
        
    }
    
    .main-content {
        padding-top: 55px;
    }
}

/* Larger Mobile Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .layout-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(29, 39, 64);
    }
    
    .header {
        
    }
    
    .main-content {
        padding-top: 55px;
    }
}


/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .layout-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(29, 39, 64);
    }
    
    .header {
        
    }
    
    .main-content {
        padding-top: 55px;
    }
}


/* Small Desktops/Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .layout-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(29, 39, 64);
    }
    
    .header {
        
    }
    
    .main-content {
        padding-top: 55px;
    }
}

/* Large Desktops */
@media only screen and (min-width: 1201px) {
    .layout-container {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(29, 39, 64);
    }
    
    .header {
        
    }
    
    .main-content {
        padding-top: 55px;
    }
}