/* Small Mobile Devices */
@media only screen and (max-width: 480px) {
    .navBar-container {
        display: flex;
        width: 100vw;
        height: 55px;
        background-color: rgba(38, 33, 72, 0);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .navBar-title-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-around;
        width: 15vw;
        height: 50px;
        align-items: center;
        font-family: 'Carter One', serif;
        letter-spacing: 2px;
    }
    
    .navBar-title-container img {
        padding: 2px 5px;
        height: 40px;
    }
    
    .navBar-title-container p {
        font-size: .5rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        padding: 2px 5px;
    }
    
    .navBar-link-container {
        margin: 0 auto;
        height: 50px;
        width: 50vw;
        display: flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }
    
    .link {
        list-style: none;
        font-size: .5rem;
        padding: .5rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        font-family: 'Carter One', serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .link:hover {
        color: rgb(255, 0, 195);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    }
}

/* Larger Mobile Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navBar-container {
        display: flex;
        width: 100vw;
        height: 55px;
        background-color: rgba(38, 33, 72, 0);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .navBar-title-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-around;
        width: 15vw;
        height: 50px;
        align-items: center;
        font-family: 'Carter One', serif;
        letter-spacing: 2px;
    }
    
    .navBar-title-container img {
        padding: 2px 5px;
        height: 40px;
    }
    
    .navBar-title-container p {
        font-size: .5rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        padding: 2px 5px;
    }
    
    .navBar-link-container {
        margin: 0 auto;
        height: 50px;
        width: 50vw;
        display: flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }
    
    .link {
        list-style: none;
        font-size: .5rem;
        padding: .5rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        font-family: 'Carter One', serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .link:hover {
        color: rgb(255, 0, 195);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    }
}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navBar-container {
        display: flex;
        width: 100vw;
        height: 55px;
        background-color: rgba(38, 33, 72, 0);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .navBar-title-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-around;
        width: 15vw;
        height: 50px;
        align-items: center;
        font-family: 'Carter One', serif;
        letter-spacing: 2px;
    }
    
    .navBar-title-container img {
        padding: 2px 5px;
        height: 40px;
    }
    
    .navBar-title-container p {
        font-size: .5rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        padding: 2px 5px;
    }
    
    .navBar-link-container {
        margin: 0 auto;
        height: 50px;
        width: 50vw;
        display: flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }
    
    .link {
        list-style: none;
        font-size: .5rem;
        padding: .5rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        font-family: 'Carter One', serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .link:hover {
        color: rgb(255, 0, 195);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    }
}

/* Small Desktops/Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .navBar-container {
        display: flex;
        width: 100vw;
        height: 55px;
        background-color: rgba(38, 33, 72, 0);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .navBar-title-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-around;
        width: 15vw;
        height: 50px;
        align-items: center;
        font-family: 'Carter One', serif;
        letter-spacing: 2px;
    }
    
    .navBar-title-container img {
        padding: 2px 5px;
        height: 40px;
    }
    
    .navBar-title-container p {
        font-size: 1.4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        padding: 2px 5px;
    }
    
    .navBar-link-container {
        margin: 0 auto;
        height: 50px;
        width: 50vw;
        display: flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }
    
    .link {
        list-style: none;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        font-family: 'Carter One', serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .link:hover {
        color: rgb(255, 0, 195);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    }
}

/* Large Desktops */
@media only screen and (min-width: 1201px) {
    .navBar-container {
        display: flex;
        width: 100vw;
        height: 55px;
        background-color: rgba(38, 33, 72, 0);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .navBar-title-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-around;
        width: 15vw;
        height: 50px;
        align-items: center;
        font-family: 'Carter One', serif;
        letter-spacing: 2px;
    }
    
    .navBar-title-container img {
        padding: 2px 5px;
        height: 40px;
    }
    
    .navBar-title-container p {
        font-size: 1.4rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        padding: 2px 5px;
    }
    
    .navBar-link-container {
        margin: 0 auto;
        height: 50px;
        width: 50vw;
        display: flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }
    
    .link {
        list-style: none;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
        font-family: 'Carter One', serif;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .link:hover {
        color: rgb(255, 0, 195);
        text-shadow: 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177), 0 0 4px rgb(106, 0, 177);
    }
}
